body {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 198, 10);
    overflow-x: hidden;
}

header {
    width: 100%;
    position: relative;
}

.img2 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.navbar {
    background-color: #311349;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 20px;
    width: 100%;
    box-sizing: border-box;
}

.img1 {
    width: 150px;
    height: 90px;
    margin-left: 8.2%;
}

.buttons{
    display: flex;
    justify-content: space-between;
    flex: 1;
    max-width: 80%;
}
.buttons button {
    background-color: rgb(255, 209, 2);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: lighter;
    margin-right: 138px;
}

#b1{
    margin-right: 20px;
}

#b2{
    background-color: #311349;
    color: white;
    margin: 0 10px;
}

#b3{
    margin-left: 20px;

}

#b1, #b3 {
    background-color: #ffc60a;
    color: black;
    font-size: 15px;
}

.container1 {
    padding: 20px;
    text-align: center;
    background-color: rgb(245, 165, 18);
    box-sizing: border-box;
    border-left: 3px dotted red;
    padding: 0 25px
}

.intro {
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    line-height: 1.3;
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px 0;
    flex-wrap: wrap;
}

.image-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    text-align: center;
    animation: slide-up 1s forwards;
    opacity: 0;
    transform: translateY(100%);
    margin: 20px;
}

.img3, .img4 {
    width: 127%; 
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
}

.p1,.p2{
    padding: 00px 10px;
    line-height: 20px;
    width:280px;
    line-height: 1.4;
} 

.img3, .p1{
    margin-right: 105%;
}

.img4, .p2{
    margin-left: 150%;
}

.p3{
    margin-left: 7%;
    margin-right: 10%;
    margin-top: 50px;
    line-height: 1.8;
}

.h1, .h2, .h3, .h7{
    text-align: center;
    font-size: 40px;
    color:#c40056;
}

.p4{
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 30px;
    margin-bottom: 5%;
    line-height: 1.6;
}

.image-cover {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    width: 100%;
} 

.img5, .img6 {
    width: 40%;
    height: 88%;
    object-fit: cover;
}

.h4, .h5, .h6{
    font-weight: bolder;
    color: white;
    cursor: pointer;
    font-size: 26px;
    margin-top: 13px;
}

.winner1, .winner2, .winner3 {
    background-color: #1cae4b;
    height: 50px;
    margin: 6px;
    width: 77%;
    text-align: start;
    padding-left: 20px;
    border-radius: 5px;
    cursor: pointer; 
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 77%;
    
}

table thead{
    border-bottom: #000 2px solid;
}

table th{
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20%;
    border: 1px solid #000;
    cursor: pointer;
}

th table th {
    text-align: center;
}


table td {
    padding: 13px;
    border: 1px solid #000;
    justify-content: center;
    text-align: left;
}

.sortable {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrows {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 20px;
    margin-left: 90%;
}

.arrow-up, .arrow-down {
    font-size: 12px;
    line-height: 7px;
    cursor: pointer;
    color: black;
}

button {
    display: inline-block;
    margin: 20px auto;
    margin-bottom: 30px;
    padding: 15px 25px; 
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    background-color: #f25b26;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #f25b26;
}

footer{
    background-color: #b31e52; 
    color: white; 
    padding: 15px 50%; 
    text-align: center; 
    white-space: nowrap;
}